{% if v %}
{% include "elements/sidebar_listing.html" %}
<div class="card-blank sidebar d-none d-xl-block bg-gray-700" style="margin-top: 4.8rem; overflow: visible">
    <div>
        
        
        
    </div>
</div> 

<style>
    .sidebar {
        margin: 1rem;
        height: max-content;
        grid-column: 3;
        grid-row: 1;
    }
</style>
{% endif %}
<!-- TODO -->
<!-- changelog - DONE -->
<!-- other feeds - IN PROGRESS -->
    <!--  Dropdown to choose tag/changelog -->
<!-- notifications? -->
<!-- recent comments/posts? -->
<!-- saved comments/posts? -->
<!-- ability to pick which one u want? -->
