{% if v %}
<div id="sidebar" class="card-blank sidebar d-none d-xl-block bg-gray-700" style="right: 0; width: calc(1/6 * 100vw - 2rem); position: sticky; top: 3.6rem; margin-top: 1.2rem; overflow: visible">
    <div>
        <div class="card-header border-bottom bg-gray-400">
            <button class="mx-1 btn btn-secondary" style="box-shadow: none;" onclick="setCurrentTab('custom_feed')">Custom Feed</button>
            <button class="mx-1 btn btn-secondary" style="box-shadow: none;" onclick="setCurrentTab('sidebar_notifications')">Notifications</button>
        </div>
        </div>
        <div id="custom_feed" style="display: none">
            {% include "elements/sidebar_listing.html" %}
        </div>
        <div id="sidebar_notifications" style="display: none">
            {% include "elements/small_comment_feed.html" %}
        </div>
    </div>
</div> 

<style>
    .sidebar {
        margin: 1rem;
        height: max-content;
        grid-column: 3;
        grid-row: 1;
    }
</style>
{% endif %}

<script>
    
    let selected_tab = "{{sidebar_settings['default_tab']}}"
    const tabs = ["custom_feed", "sidebar_notifications"]
    
    function setCurrentTab(tab) {
        if(selected_tab != tab){
            selected_tab = tab
            post("/settings/sidebar_settings?default_tab="+selected_tab, function(){console.log("success");})
        }
        document.getElementById(tab).style.display = "block"
        for(i=0; i<tabs.length; i++){
            if(tabs[i] != selected_tab){
                document.getElementById(tabs[i]).style.display = "none"
            }
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        setCurrentTab("{{sidebar_settings['default_tab']}}")
    }, false);

</script>