


<script>

function toggleDropdownVisibility(){
	var dropdown = document.getElementById("tagSortDropdown");
	if (dropdown.style.display === "none") {
		dropdown.style.display = "block";
	} else {
		dropdown.style.display = "none";
	}
}


</script>
<div class="card-header">
	<div class="dropdown dropdown-actions d-inline-block">
		<button onclick="toggleDropdownVisibility()" class="bg-transparent btn btn-secondary dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow:none";>
			<div class="{{sidebar_tag}}-tag d-inline-block"></div>
		</button>
		<div id="tagSortDropdown" class="dropdown-menu-noboot" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; top: 32px; left: 0px; display:none;">
			{% for tag in ["news", "trailer", "oc", "video", "music", "picture", "meme", "meta", "discussion", "rant", "review", "question", "breaking-news", "none"] %}
			<a class="{{tag}}-tag dropdown-item" href="?sidebar_tag={{tag}}"></a>
			{% endfor %}
			<a class="changelog-tag dropdown-item" href="?sidebar_tag=changelog">Changelog</a>
		</div>
	</div>
	<h5 class="float-right d-inline-block">Custom Feed</h5>
</div>
<!-- Cards -->
{% for p in sidebar_listing %}

<script>
	var date = new Date('{{p.created_datetime}}');
	document.getElementById('timestamp-{{p.id}}').title = date.toString();
	{% if p.edited_utc %}
		var date = new Date('{{p.edited_datetime}}');
		document.getElementById('edited_timestamp-{{p.id}}').title = date.toString();
	{% endif %}
</script>

{% set ups=p.upvotes %}
{% set score=ups %}

{% if v %}
	{% set voted=p.voted %}
{% else %}
	{% set voted=-2 %}
{% endif %}

{% include "widgets/small_card.html" %}

{% endfor %}

{% include "delete_post_modal.html" %}
{% if sidebar_listing %}
<nav aria-label="Page navigation">
	<ul class="pagination pagination-sm mb-0">
		{% if changelog_page>1 %}
		<li class="page-item">
			<small><a class="page-link" href="?sort={{sort}}&changelog_page={{changelog_page-1}}&t={{t}}{% if only %}&only={{only}}{% endif %}" tabindex="-1">Prev</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Prev</span></li>
		{% endif %}
		{% if changelog_next_exists %}
		<li class="page-item">
			<small><a class="page-link" href="?sort={{sort}}&changelog_page={{changelog_page+1}}&t={{t}}{% if only %}&only={{only}}{% endif %}">Next</a></small>
		</li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">Next</span></li>
		{% endif %}
	</ul>
</nav>
{% endif %}

