<div class="card-blank sidebar d-none d-xl-block">
    <div class="card-header">
        <h5>User Badges</h5>
    </div>
    <div class="m-1">
        {% include "widgets/badges.html" %}
    </div>
    {% if u.steam_id and steam %}
        <div class="card-header">
            <h5>Steam Account</h5>
        </div>
        <div class="m-1">
            {% include "widgets/steam_info.html" %}
        </div>
    {% endif %}
    {% if u.discord_id %}
        {% include "widgets/discord_info.html" %}
    {% endif %}

    {% if u.xbox_gamertag %}
        <div class="card-header">
            <h5>Xbox Gamertag</h5>
        </div>
        <div class="m-1">
        {% include "widgets/xbox_info.html" %}
        </div>
    {% endif %}
    
    {% if u.playstation_name %}
        <div class="card-header">
            <h5>Playstation Network Name</h5>
        </div>
        <div class="m-1">
        {% include "widgets/playstation_info.html" %}
        </div>
    {% endif %}

    {% if u.switch_code %}
        <div class="card-header">
            <h5>Switch Friend Code</h5>
        </div>
        <div class="m-1">
        {% include "widgets/nintendo_info.html" %}
        </div>
    {% endif %}

       
</div> 

<style>
    .sidebar {
        margin: 1rem;
        height: max-content;
        grid-column: 3;
        grid-row: 1;
    }
</style>