<div></div>
<div class="card-header">
    <h5>Notifications</h5>
</div>
<div style="max-height: 75vh; overflow-y: scroll;" class="border-bottom">
{% for c in sidebar_notif_feed %}
    <div class="card-blank m-2">
        
        {% if c.post.author_id==v.id and c.level == 1 and c.parent_submission %}    
            
            <b class="m-2">Reply To Post: <a href="{{c.post.permalink}}">{{c.post.title | safe}}</a></b>
        
        {% elif c.post %}

            <b class="d-inline-block m-2">Reply From</b>
            {% if v and v.admin_level==6 and c.author.shadowbanned %}<i class="fas fa-user-times text-admin" data-bs-toggle="tooltip" data-placement="bottom" title="Shadowbanned user"></i>&nbsp;{% endif %}
            {% if c.is_op %}<i class="fas fa-microphone-stand text-info" data-bs-toggle="tooltip" data-placement="bottom" title="" data-original-title="OP"></i>&nbsp;{% endif %}
            {% if c.is_bot %}<i class="fad fa-robot text-info" data-bs-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bot"></i>&nbsp;{% endif %}
            <a class="{% if c.author.show_activity %}{% if c.author.last_active+420 > time %} online {%else %} offline {% endif %}{% endif %}"{% if c.author.animatedname %}class="{% if c.author.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{c.author.namecolor}}; font-size:12px; font-weight:bold;" href="/@{{c.author.username}}"><img src="{{c.author.profile_url}}" class="profile-pic-25 mr-2"/>{{c.author.username}}</a>{% if c.author.customtitle %}&nbsp;<bdi style="color: #{{c.author.titlecolor}}">&nbsp;{{c.author.customtitle | safe}}</bdi>{% endif %}
        
        {% else %}
        
            <b class="d-inline-block m-2">Direct Message From</b>
            {% if v and v.admin_level==6 and c.author.shadowbanned %}<i class="fas fa-user-times text-admin" data-bs-toggle="tooltip" data-placement="bottom" title="Shadowbanned user"></i>&nbsp;{% endif %}
            {% if c.is_op %}<i class="fas fa-microphone-stand text-info" data-bs-toggle="tooltip" data-placement="bottom" title="" data-original-title="OP"></i>&nbsp;{% endif %}
            {% if c.is_bot %}<i class="fad fa-robot text-info" data-bs-toggle="tooltip" data-placement="bottom" title="" data-original-title="Bot"></i>&nbsp;{% endif %}
            <a class="{% if c.author.show_activity %}{% if c.author.last_active+420 > time %} online {%else %} offline {% endif %}{% endif %}"{% if c.author.animatedname %}class="{% if c.author.patron %}patron{% else %}leaderboard{% endif %}"{% endif %} style="color:#{{c.author.namecolor}}; font-size:12px; font-weight:bold;" href="/@{{c.author.username}}"><img src="{{c.author.profile_url}}" class="profile-pic-25 mr-2"/>{{c.author.username}}</a>{% if c.author.customtitle %}&nbsp;<bdi style="color: #{{c.author.titlecolor}}">&nbsp;{{c.author.customtitle | safe}}</bdi>{% endif %}
        
        {% endif %}
    </div>
    {% include "widgets/small_comment.html" %}
{% endfor %}
</div>