{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}}</title>
<meta name="description" content="{{"SITE_NAME" | app_config}} Help">
{% endblock %}

{% block content %}
<div class="card-blank">
	<pre></pre>
	<pre></pre>
	<h4>&nbsp;Admin Tools</h4>
	<ul>
	<li><a href="/admin/user_award">User Award</a></li>
	<li><a href="/user_stat_data">Advanced Stats</a></li>
	<li><a href="/admin/banned_domains">Banned Domains</a></li>
	<li><a href="/admin/shadowbanned">Shadowbanned Users</a></li>
	<li><a href="/admin/agendaposters">Users with Agendaposter Theme</a></li>
	<li><a href="/admin/flagged/posts">Flagged Posts</a></li>
	<li><a href="/admin/flagged/comments">Flagged Comments</a></li>
	<li><a href="/admin/image_posts">Image Posts</a></li>
	<li><a href="/admin/removed">Removed Posts</a></li>
	<li><a href="/admin/users">Users Feed</a></li>
	<li><a href="/admin/image_purge">Remove image from imgur and from cloudflare cache</a></li>
	<li><a href="/admin/image_ban">Perceptive Hash Image Ban</a></li>
	<li><a href="/admin/alt_votes">Multi Vote Analysis</a></li>
	<li><a href="/admin/apps">Apps</a></li>
	<li><a href="/admin/badge_grant">Badges</a></li>
	<li><a href="/admin/content_stats">Content Stats</a></li>
	<hr>
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input" id="disablesignups" name="disablesignups" {% if x == "yes" %}checked{% endif %} onchange="post('/admin/disablesignups');">
		<label class="custom-control-label" for="disablesignups">Disable signups</label>
	</div>
</div>

{% endblock %}
