/*
Error: Undefined variable: "$changelog-tag".
        on line 40 of files/assets/style/main.scss
        from line 65 of ./files/assets/style/4chan.scss

35: $banned: #FEB2B2;
36: $deleted: #FEFCBF;
37: $deletedandbanned: #ffcc99;
38: $mod: #07c20c;
39: $code: #e83e8c;
40: 
41: $online: #88cc66;
42: $offline: rgba(#aaaaaa, 0.6);
43: 
44: $gold: #ECC94B;
45: $reddit: #ED4630;

Backtrace:
files/assets/style/main.scss:40
./files/assets/style/4chan.scss:65
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:53:in `block in _perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:52:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:478:in `visit_variable'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:383:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$changelog-tag\".\A         on line 40 of files/assets/style/main.scss\A         from line 65 of ./files/assets/style/4chan.scss\A \A 35: $banned: #FEB2B2;\A 36: $deleted: #FEFCBF;\A 37: $deletedandbanned: #ffcc99;\A 38: $mod: #07c20c;\A 39: $code: #e83e8c;\A 40: \A 41: $online: #88cc66;\A 42: $offline: rgba(#aaaaaa, 0.6);\A 43: \A 44: $gold: #ECC94B;\A 45: $reddit: #ED4630;"; }
