/*
Error: Undefined variable: "$actually-black".
        on line 31 of files/assets/style/main.scss
        from line 49 of ./files/assets/style/coffee.scss

26: $gray-700: #DDD2C4;
27: $gray-800: #DDD2C4;
28: $gray-900: #DDD2C4;
29: 
30: $upvote: #7b9ae4;
31: $downvote: #38B2AC;
32: $admin: #7b9ae4;
33: $banned: #FEB2B2;
34: $deleted: #FEFCBF;
35: $deletedandbanned: #ffcc99;
36: $mod: #07c20c;

Backtrace:
files/assets/style/main.scss:31
./files/assets/style/coffee.scss:49
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:53:in `block in _perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/script/tree/map_literal.rb:52:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:50:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:478:in `visit_variable'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:322:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:135:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:10:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:383:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$actually-black\".\A         on line 31 of files/assets/style/main.scss\A         from line 49 of ./files/assets/style/coffee.scss\A \A 26: $gray-700: #DDD2C4;\A 27: $gray-800: #DDD2C4;\A 28: $gray-900: #DDD2C4;\A 29: \A 30: $upvote: #7b9ae4;\A 31: $downvote: #38B2AC;\A 32: $admin: #7b9ae4;\A 33: $banned: #FEB2B2;\A 34: $deleted: #FEFCBF;\A 35: $deletedandbanned: #ffcc99;\A 36: $mod: #07c20c;"; }
