// Colors

$primary: #47a3ff;
$dark: #3E2C18;
$secondary: #1f84d7;
$accent: #B38686;
$danger: #E53E3E;
$white: #F1E7D0;
$black: #433434;
$actually-black: #000000;

$light: #DDD2C4;
$success: #47a3ff;
$muted: #AA9881;
$info: #168EEA;

$purple: #47a3ff;
$red: #E53E3E;
$gray: #AA9881;
$green: #47a3ff;

$gray-100: #817261;
$gray-200: #433434;
$gray-300: #433434;
$gray-400: #433434;
$gray-500: #DDD2C4;
$gray-600: #DDD2C4;
$gray-700: #DDD2C4;
$gray-800: #DDD2C4;
$gray-900: #DDD2C4;

$upvote: #47a3ff;
$downvote: #38B2AC;
$admin: #47a3ff;
$banned: #FEB2B2;
$deleted: #FEFCBF;
$deletedandbanned: #ffcc99;
$mod: #07c20c;
$code: #e83e8c;

$online: #88cc66;
$offline: rgba(#aaaaaa, 0.6);

$gold: #ECC94B;
$reddit: #ED4630;

$news-tag: #F28181;
$trailer-tag: #FFAF5A;
$oc-tag: #ECC94B;
$video-tag: #ffafaf;
$music-tag: #17d860;
$picture-tag: #CCE3DF;
$funny-tag: #66F8FF;
$meta-tag: $primary;
$discussion-tag: #7A83FF;
$rant-tag: #BB6FEE;
$review-tag: #C6EE6F;
$question-tag: #EE98E9;
$breaking-news-tag: #ff0000;
$none-tag: #E1E1E1;


@import 'https://fonts.googleapis.com/css?family=Lato:400,600,700';

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

.card-header > * {
	color: $accent;
}

* {
    font-family: 'Lato';
}

blockquote {
	background-color: #c0c0c0;
}

.text-muted {
	color: $black !important;
}

.modal .comment-actions a {
	color: $gray-500;
}

//.navbar-light .navbar-nav .nav-link .fa, .navbar-light .navbar-nav .nav-link .fas, .navbar-light .navbar-nav .nav-link .far, .navbar-light .navbar-nav .nav-link .fab {
	//color: $black;
//}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
    background-color: #bda78e !important;
}
