// Colors

$primary: #9a9a9a;
$secondary: #9a9a9a;
$accent: #000000;
$dark: #2B353D;
$danger: #E53E3E;
$white: #ffffff;
$black: #000000;
$light: #000000;
$success: #38A169;
$muted: #828282;
$info: #168EEA;

$purple: #9a9a9a;
$red: #E53E3E;
$gray: #2B353D;
$green: #38A169;
//HSB hue 210 saturation 30 brightness from 0 incremented by 4 each time
//"front" UI: $gray-200
//"background" UI: $gray-500
//search boxes, buttons, ect.: $gray-700 -> $gray-600 on hover
$gray-100: #394552;
$gray-200: #47a3ff;
$gray-300: #2B353D;
$gray-400: #47a3ff;
$gray-500: #f6f6ef;
$gray-600: #ffffff;
$gray-700: #ffffff;
$gray-800: #07090A;
$gray-900: #000000;

$upvote: #9a9a9a;
$downvote: #38B2AC;
$admin: #47a3ff;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

//$border-color: #2E2F2F;
$border-color: #f6f6ef;
$border-width: 4px;
$border-radius: 0;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

* {
	box-shadow: none !important;
	transition: none !important;
	border-radius: 0 !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px !important;
}

.card {
	transform: none !important;
}

.comment {
	background: transparent !important;
}

.container {
	background: $gray-500 !important;
}

body {
	background: $white !important;
}

.post-title, .navbar-brand, #settings .text-muted {
	color: $black !important;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: $black;
	font-family: monospace;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

.card-header {
	display: none !important;
}

.comment-text a {
	text-decoration: underline !important;
}

.fas.fa-file-signature.fa-fw.text-left.mr-3,
.fab.fa-discord.fa-fw.text-left.mr-3,
.fab.fa-github.fa-fw.text-left.mr-3,
.fas.fa-clipboard.fa-fw.text-left.mr-3,
.fas.fa-balance-scale.fa-fw.text-left.mr-3,
.fas.fa-cog.fa-fw.mr-3,
.fas.fa-envelope.fa-fw.mr-3,
.fas.fa-user-circle.fa-fw.mr-3,
.fas.fa-sign-out.fa-fw.mr-3.text-danger{
	color: $black !important;
}
