:root {
	--primary: #9a9a9a;
	--secondary: #9a9a9a;
	--accent: #000000;
	--dark: #2B353D;
	--danger: #E53E3E;
	--white: #ffffff;
	--black: #000000;
	--actually-black: #000000;

	--light: #000000;
	--success: #38A169;
	--muted: #828282;
	--info: #168EEA;

	--purple: #9a9a9a;
	--red: #E53E3E;
	--gray: #2B353D;
	--green: #38A169;

	--gray-100: #394552;
	--gray-200: var(--primary-color);
	--gray-300: #2B353D;
	--gray-400: var(--primary-color);
	--gray-500: #f6f6ef;
	--gray-600: #ffffff;
	--gray-700: #ffffff;
	--gray-800: #07090A;
	--gray-900: #000000;

	--upvote: #9a9a9a;
	--downvote: #38B2AC;
	--admin: var(--primary-color);
	--banned: #960000;
	--deleted: #969600;
	--deletedandbanned: #964000;
	--mod: #07c20c;
	--code: #e83e8c;

	--online: #88cc66;
	--offline: rgba(170 170 170 / 0.6);

	--gold: #ECC94B;
	--reddit: #ED4630;

	--border-color: #f6f6ef;
	--border-radius: 0;

	--news-tag: var(--muted);
	--changelog-tag: var(--muted);
	--trailer-tag: var(--muted);
	--oc-tag: var(--muted);
	--video-tag: var(--muted);
	--music-tag: var(--muted);
	--picture-tag: var(--muted);
	--meme-tag: var(--muted);
	--meta-tag: var(--muted);
	--discussion-tag: var(--muted);
	--rant-tag: var(--muted);
	--review-tag: var(--muted);
	--question-tag: var(--muted);
	--breaking-news-tag: var(--muted);
	--none-tag: var(--muted);

}

* {
	box-shadow: none !important;
	transition: none !important;
	border-radius: 0 !important;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px !important;
}

.card {
	transform: none !important;
}

.comment, .small-comment {
	background: rgba(246 246 246 / 0.4) !important;
}

.container {
	background: var(--gray-500) !important;
}

body {
	background: var(--white) !important;
}

.post-title, .navbar-brand, #settings .text-muted, .user-name {
	color: var(--black) !important;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: --black;
	font-family: monospace;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

#posts .card-header, .profile-pic-25 {
display: none !important;
}

.comment-text a {
	text-decoration: underline !important;
}

.fas.fa-file-signature.fa-fw.text-left.mr-3,
.fab.fa-discord.fa-fw.text-left.mr-3,
.fab.fa-github.fa-fw.text-left.mr-3,
.fas.fa-clipboard.fa-fw.text-left.mr-3,
.fas.fa-balance-scale.fa-fw.text-left.mr-3,
.fas.fa-cog.fa-fw.mr-3,
.fas.fa-envelope.fa-fw.mr-3,
.fas.fa-user-circle.fa-fw.mr-3,
.fas.fa-sign-out.fa-fw.mr-3.text-danger{
	color: var(--black) !important;
}

.arrow-up:hover::before {
	color: var(--gray-200) !important;
	opacity: 0.5;
}
.active.arrow-up::before, .score-up {
	color: var(--gray-200) !important;
}
.arrow-up::before, .score:not(.score-up), .post-actions a {
	color: var(--primary) !important;
}

.settings-nav .nav-link {
	color: var(--gray-100) !important;
}

.settings-nav > .nav-item > .nav-link.active {
	color: var(--black) !important;
}

blockquote {
	background-color: var(--muted) !important;
}

