:root {
	--primary: var(--primary-color);
	--dark: #23183E;
	--secondary: var(--secondary-color);
	--accent: #2F4C63;
	--danger: #E53E3E;
	--white: #ffffff;
	--black: #121213;
	--actually-black: #000000;
	
	--light: #E6E9F0;
	--success: #38a169;
	--muted: #718096;
	--info: #168EEA;
	
	--purple: var(--primary-color);
	--red: #E53E3E;
	--gray: #718096;
	--green: #38A169;
	
	--gray-900: #EBF5FA;
	--gray-800: #E6F0F5;
	--gray-700: #E1EBF0;
	--gray-600: #DDE6EB;
	--gray-500: #D8E1E6;
	--gray-400: #D3DCE0;
	--gray-300: #CED7DB;
	--gray-200: #C9D2D6;
	--gray-100: #C5CDD1;
	
	--upvote: var(--primary-color);
	--downvote: #38B2AC;
	--admin: var(--primary-color);
	--banned: #FEB2B2;
	--deleted: #FEFCBF;
	--deletedandbanned: #ffcc99;
	--mod: #07c20c;
	--code: #e83e8c;
	
	--online: #88cc66;
	--offline: rgba(170 170 170 / 0.6);
	
	--gold: #ECC94B;
	--reddit: #ED4630;
	
	--border-color: #A0AEC0;
	--border-width: 4px;
	--border-radius: 0.35rem;
	
	--news-tag: #F28181;
	--changelog-tag: #9C5E20;
	--trailer-tag: #FFAF5A;
	--oc-tag: #ECC94B;
	--video-tag: #ffafaf;
	--music-tag: #17d860;
	--picture-tag: #CCE3DF;
	--meme-tag: #66F8FF;
	--meta-tag: var(--primary-color);
	--discussion-tag: #7A83FF;
	--rant-tag: #BB6FEE;
	--review-tag: #C6EE6F;
	--question-tag: #EE98E9;
	--breaking-news-tag: #ff0000;
	--none-tag: #E1E1E1;
}
