// Colors

$primary: #47a3ff;
$dark: #23183E;
$secondary: #1f84d7;
$accent: #2F4C63;
$danger: #E53E3E;
$white: #ffffff;
$black: #121213;
$light: #E6E9F0;
$success: #38a169;
$muted: #718096;
$info: #168EEA;

$purple: #47a3ff;
$red: #E53E3E;
$gray: #718096;
$green: #38A169;

$gray-900: #FAFAFA;
$gray-800: #F5F5F5;
$gray-700: #F0F0F0;
$gray-600: #EBEBEB;
$gray-500: #E6E6E6;
$gray-400: #E0E0E0;
$gray-300: #DBDBDB;
$gray-200: #D6D6D6;
$gray-100: #D1D1D1;

$upvote: #47a3ff;
$downvote: #38B2AC;
$admin: #47a3ff;
$banned: #FEB2B2;
$deleted: #FEFCBF;
$deletedandbanned: #ffcc99;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

$border-color: #A0AEC0;
$border-width: 4px;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";
