// Colors
:root {
	--primary: #47a3ff;
	--dark: #23183E;
	--secondary: #1f84d7;
	--accent: #2F4C63;
	--danger: #E53E3E;
	--white: #ffffff;
	--black: #121213;
	--actually-black: #000000;
	
	--light: #E6E9F0;
	--success: #38a169;
	--muted: #718096;
	--info: #168EEA;
	
	--purple: #47a3ff;
	--red: #E53E3E;
	--gray: #718096;
	--green: #38A169;
	
	--gray-900: #EBF5FA;
	--gray-800: #E6F0F5;
	--gray-700: #E1EBF0;
	--gray-600: #DDE6EB;
	--gray-500: #D8E1E6;
	--gray-400: #D3DCE0;
	--gray-300: #CED7DB;
	--gray-200: #C9D2D6;
	--gray-100: #C5CDD1;
	
	--upvote: #47a3ff;
	--downvote: #38B2AC;
	--admin: #47a3ff;
	--banned: #FEB2B2;
	--deleted: #FEFCBF;
	--deletedandbanned: #ffcc99;
	--mod: #07c20c;
	--code: #e83e8c;
	
	--online: #88cc66;
	--offline: rgba(#aaaaaa, 0.6);
	
	--gold: #ECC94B;
	--reddit: #ED4630;
	
	--border-color: #A0AEC0;
	--border-width: 4px;
	
	--news-tag: #F28181;
	--changelog-tag: #9C5E20;
	--trailer-tag: #FFAF5A;
	--oc-tag: #ECC94B;
	--video-tag: #ffafaf;
	--music-tag: #17d860;
	--picture-tag: #CCE3DF;
	--meme-tag: #66F8FF;
	--meta-tag: $primary;
	--discussion-tag: #7A83FF;
	--rant-tag: #BB6FEE;
	--review-tag: #C6EE6F;
	--question-tag: #EE98E9;
	--breaking-news-tag: #ff0000;
	--none-tag: #E1E1E1;
}
	
$primary: var(--primary);
$dark: var(--dark);
$secondary: var(--secondary);
$accent: var(--accent);
$danger: var(--danger);
$white: var(--white);
$black: var(--white);
$actually-black: var(--actually-black);

$light: var(--light);
$success: var(--success);
$muted: var(--muted);
$info: var(--info);

$purple: var(--purple);
$red: var(--red);
$gray: var(--gray);
$green: var(--gray);

$gray-900: var(--gray-900);
$gray-800: var(--gray-800);
$gray-700: var(--gray-700);
$gray-600: var(--gray-600);
$gray-500: var(--gray-500);
$gray-400: var(--gray-400);
$gray-300: var(--gray-300);
$gray-200: var(--gray-200);
$gray-100: var(--gray-100);

$upvote: var(--upvote);
$downvote: var(--downvote);
$admin: var(--admin);
$banned: var(--admin);
$deleted: var(--deleted);
$deletedandbanned: var(--deletedandbanned);
$mod: var(--deletedandbanned);
$code: var(--code);


$gold: var(--gold);
$reddit: var(--reddit);

$border-color: var(--border-color);

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";
