// Colors

$primary: #47a3ff;
$dark: #00001f;
$secondary: #47a3ff;
$accent: #4c4c8f;
$danger: #47a3ff;
$white: #f0f0f0;
$black: #f0f0f0;
$actually-black: #000000;

$light: #00001f;
$success: #38A169;
$muted: #f0f0f0;
$info: #168EEA;

$purple: #47a3ff;
$red: #47a3ff;
$gray: #47a3ff;
$green: #38A169;

$gray-100: #1f84d7;
$gray-200: #1f84d7;
$gray-300: #00001f;
$gray-400: #1f84d7;
$gray-500: #00001f;
$gray-600: #00001f;
$gray-700: #00001f;
$gray-800: #00001f;
$gray-900: #00001f;

$upvote: #47a3ff;
$downvote: #38B2AC;
$admin: #47a3ff;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$online: #88cc66;
$offline: rgba(#aaaaaa, 0.6);


$gold: #ECC94B;
$reddit: #ED4630;

$news-tag: #F28181;
$trailer-tag: #FFAF5A;
$oc-tag: #ECC94B;
$video-tag: #ffafaf;
$music-tag: #17d860;
$picture-tag: #CCE3DF;
$meme-tag: #66F8FF;
$meta-tag: $primary;
$discussion-tag: #7A83FF;
$rant-tag: #BB6FEE;
$review-tag: #C6EE6F;
$question-tag: #EE98E9;
$breaking-news-tag: #ff0000;
$none-tag: #E1E1E1;

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,600,700';

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

//.text-muted {
	//mix-blend-mode: difference;
//}
.comment {
	background: rgba($gray-200, 0.1) !important;
}
.settings-nav > .nav-item > .nav-link.active {
	color: $white;
}

.settings-nav .nav-link {
	color: $primary;
}

.navbar-light *{
	color: $white !important;
}
#frontpage .post-title a:visited {
	color: $white;
}

.comment-box {
    border: 2px solid $gray-200;
}

.btn {
	color: $admin;
}

* {
    font-family: 'Roboto Mono';
}

.arrow-up::before {
	color: $white;
}

.arrow-down::before {
	color: $white;
}

.modal-content {
	background-color: $gray-300;
}

.modal-header {
	background-color: $gray-300;
}

.modal .comment-actions .list-group-item {
	background-color: $gray-300;
}

.comment-actions .score {
	color: $white;
}

.badge-count {
	color: $light;
}

.text-small-extra.text-muted {
	color: $muted !important;
}
