<!DOCTYPE html>
<html lang="en">
<head>
	{% include "bootstrap.html" %}
	{% include "elements/scripts.html" %}
	<!-- {% if v %}
		<script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
		
		<script>
			const beamsClient = new PusherPushNotifications.Client({
				instanceId: '02ddcc80-b8db-42be-9022-44c546b4dce6',
			});		
			
			beamsClient
			.start()
			.then((beamsClient) => beamsClient.getDeviceId())
			.then(() => beamsClient.addDeviceInterest(v.strid))
			.then(() => beamsClient.getDeviceInterests())
			.catch(console.error);
		</script>
	{% endif %} -->
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="thumbnail" content="/assets/images/preview.png">

	<link rel="icon" type="image/png" href="/assets/images/favicon.png">
	
	{% block title %}
	<title>{{"SITE_NAME" | app_config}}</title>
	<meta name="description" content="Community for technology enthusiasts and video game lovers. Come on in, sip some coffee, kick off your shoes and relax with us."/>

	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{"SITE_NAME" | app_config}}" />
	<meta property="og:site_name" content="{{request.host}}" />
	<meta property="og:image" content="{{'/assets/images/preview.gif' | full_link}}" />
	<meta property="og:url" content="{{request.path | full_link}}">
	<meta property="og:description" name="description" content="Your taste in gaming. ☕">
	<meta property="og:author" name="author" content="@{{request.host_url}}" />
	<meta property="og:site_name" content="{{request.host}}" />

	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@{{request.host_url}}">
	<meta name="twitter:title" content="{{"SITE_NAME" | app_config}}" />
	<meta name="twitter:creator" content="@{{request.host_url}}">
	<meta name="twitter:description" content="Your taste in gaming. ☕" />
	<meta name="twitter:image" content="/assets/images/preview.gif" />
	<meta name="twitter:url" content="{{request.path | full_link}}" />
	{% endblock %}

	

	<!-- iOS webapp -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon.png">
	<!---<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">--->
		<link rel="manifest" href="/assets/manifest.json">
		<link rel="mask-icon" href="/assets/images/favicon.png" color="#FF66AC">
		<link rel="shortcut icon" href="/assets/images/favicon.png">
		<meta name="apple-mobile-web-app-title" content="{{"SITE_NAME" | app_config}}">
		<meta name="application-name" content="{{"SITE_NAME" | app_config}}">
		<meta name="msapplication-config" content="/assets/images/browserconfig.xml">
		<!--<meta name="msapplication-TileColor" content="#FF66AC">
		<meta name="theme-color" content="#47A3FF">-->



		<link
		rel="apple-touch-startup-image"
		sizes="320x480"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="640x960"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-icon"
		sizes="640x1136"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-icon"
		sizes="750x1334"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1004"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="768x1024"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="828x1792"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x748"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1024x768"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1125x2436"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2208"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1242x2688"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1334x750"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2008"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1536x2048"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1668x2224"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="1792x828"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1496"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x1536"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2048x2732"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2208x1242"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2224x1668"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2436x1125"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2668x1242"
		href="/assets/images/favicon.png"
		/>
		<link
		rel="apple-touch-startup-image"
		sizes="2737x2048"
		href="/assets/images/favicon.png"
		/>



		<!-- {{"SITE_NAME" | app_config}} CSS -->
		
		{% block stylesheets %}
		<!-- css common for all pages-->
			{% include "elements/stylesheets.html" %}

		{% endblock %}

		{% block fixedMobileBarJS %}
		{% endblock %}

		{% if v %}

		<script>
			function formkey() {
			 return '{{v.formkey}}';
		 }
	 </script>
	 {% endif %}

 </head>

 <body loading="lazy" id="{% if request.path != '/comments' %}{% block pagetype %}frontpage{% endblock %}{% endif %}" style="overflow-x: hidden; {% if v %} background-image:url({{ v.background }}) {% else %} background-image:url(/assets/images/custombackgrounds/pixelart/bg-1) {% endif %}">

{% include "header.html" %}

<!-- Page Content -->

{% block mobileUserBanner %}
{% endblock %}

{% block mobileBanner %}
{% endblock %}

{% block postNav %}
{% endblock %}

<div class="container" style="grid-column: 2">
	<div class="row justify-content-around mt-3" id="main-content-row">

		<div class="col h-100 {% block customPadding %}{% if not '/message' in request.path %}custom-gutters{% endif %}{% endblock %}" id="main-content-col">

			{% block desktopUserBanner %}
			{% endblock %}

			{% block desktopBanner %}
			{% endblock %}

			{% block PseudoSubmitForm %}
			{% endblock %}

			{% block searchText %}
			{% endblock %}

			{% block content %}
			{% endblock %}

			{% block pagenav %}
			{% endblock %}

		</div>
		
	</div>
</div>
{% block sidebar %}
{% endblock %}

{% block mobilenavbar %}
{% include "mobile_navigation_bar.html" %}
{% endblock %}

{% block actionsModal %}
{% endblock %}

{% block reportCommentModal %}
{% endblock %}

{% block GIFtoast %}
{% endblock %}

{% block GIFpicker %}
{% endblock %}

<!-- Clipboard Toast -->

<div class="toast clipboard" id="toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-check-circle text-success mr-2"></i>Link copied to clipboard
	</div>
</div>

<div class="toast clipboard" id="toast-error" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body text-center">
		<i class="fas fa-exclamation-circle text-danger mr-2"></i>Unable to copy link
	</div>
</div>

<div class="toast" id="toast-post-success" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-success text-center text-white">
		<i class="fas fa-comment-alt-smile mr-2"></i><span id="toast-post-success-text"></span>
	</div>
</div>
<div class="toast" id="toast-post-error" style="position: fixed; bottom: 1.5rem; margin: 0 auto; left: 0; right: 0; width: 275px; z-index: 1000" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="5000">
	<div class="toast-body bg-danger text-center text-white">
		<i class="fas fa-exclamation-circle mr-2"></i><span id="toast-post-error-text"></span>
	</div>
</div>

{% if v %}




{% endif %}

{% include "expanded_image_modal.html" %}

<script src="/assets/js/all_js.js"></script>

<script>
	function autoExpand (field) {

		//get current scroll position
		xpos=window.scrollX;
		ypos=window.scrollY;

		// Reset field height
		field.style.height = 'inherit';

		// Get the computed styles for the element
		var computed = window.getComputedStyle(field);

		// Calculate the height
		var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
		+ parseInt(computed.getPropertyValue('padding-top'), 10)
		+ field.scrollHeight
		+ parseInt(computed.getPropertyValue('padding-bottom'), 10)
		+ parseInt(computed.getPropertyValue('border-bottom-width'), 10)
		+ 32;

		field.style.height = height + 'px';

		//keep window position from changing
		window.scrollTo(xpos,ypos);

	};

	document.addEventListener('input', function (event) {
		if (event.target.tagName.toLowerCase() !== 'textarea') return;
		autoExpand(event.target);
	}, false);

	// Delete Post

	function delete_postModal(id) {

		// Passed data for modal

		document.getElementById("deletePostButton-mobile").addEventListener("click", delete_post);

		document.getElementById("deletePostButton").addEventListener("click", delete_post);

		function delete_post(){	

			this.innerHTML='<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Deleting post';	
			this.disabled = true; 
			post('/delete_post/' + id,
				callback = function() {

					location.reload();
				}
				)
		}

	};

	// Delete Comment

	function delete_commentModal(id) {

		// Passed data for modal

		document.getElementById("deleteCommentButton").onclick = function() {	

			this.innerHTML='<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Deleting comment';	
			this.disabled = true; 
			post('/delete/comment/' + id,
				callback = function() {

					location.reload();
				}
				)
		}

	};
	
</script>

<!-- ClipboardJS -->

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- Instantiate clipboard by passing a string selector -->
<script type="text/javascript">
	clipboard_success = new bootstrap.Toast(document.getElementById("toast-success"));
	clipboard_error = new bootstrap.Toast(document.getElementById("toast-error"));
	var clipboard = new ClipboardJS('.copy-link');
	clipboard.on("success", () => {
		clipboard_success.show()
	})
	
	clipboard.on("error", () => {
		clipboard_error.show()
	})
</script>

<!-- Mobile "install the app" tooltip -->


{% if request.path=='/' and g.system and g.timestamp>session.get('tooltip_last_dismissed',0)+60*60*24 and (not g.system.endswith('/chrome') and not g.system.endswith('/other')) and not g.system.endswith('/webview') %}

<div id="mobile-prompt-container" class="fixed-bottom">
	<div id="mobile-prompt" href="javascript:void(0)" data-bs-toggle="tooltip" data-container="#mobile-prompt-container" data-bs-placement="top" data-trigger="click" title="Install the {{"SITE_NAME" | app_config}} webapp by saving this page to your home screen!"></div>
</div>
{% endif %}
	<script>
		register_votes()
		register_text_expands()
		register_image_expands()
	</script>
</body>

</html>
