{% extends "default.html" %}
{% block title %}
<title>{{"SITE_NAME" | app_config}} - Formatting</title>
<meta name="description" content="Community for technology enthusiasts and video game lovers. Come on in, sip some coffee, kick off your shoes and relax with us."/>
{% endblock %}

{% block content %}
<pre>


</pre>

<div class="card-blank rounded">
	<div class="m-3">
		<h2>Formatting</h2>

		<p>On {{"SITE_NAME" | app_config}}, you can use Markdown formatting.</p>


		<h3>Inline formatting</h3>



<!--		<table class="table table-striped mb-5">
			<thead class="bg-primary text-white">
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Displays as</th>
				</tr>
			</thead>
			<tr>
				<td>Italics</td>
				<td>*text*</td>
				<td><i>text</i></td>
			</tr>
			<tr>
				<td>Bold</td>
				<td>**text**</td>
				<td><b>text</b></td>
			</tr>
			<tr>
				<td>Code</td>
				<td>`text`</td>
				<td><code>text</code></td>
			</tr>
			<tr>
				<td>Strikethrough</td>
				<td>~~text~~</td>
				<td><del>text</del></td>
			</tr>
			<tr>
				<td>Links</td>
				<td>[{{"SITE_NAME" | app_config}}]({{request.host_url}})</td>
				<td><a href="{{request.host_url}}">{{"SITE_NAME" | app_config}}</a></td>
			</tr>
			<tr>
				<td>Emojis</td>
				<td>:marseylove:</td>
				<td><img data-bs-toggle="tooltip" title="marseylove" delay="0" height="20" src="/assets/images/emojis/marseylove.gif"></td>
			</tr>
		</table>-->
		<ul>
		<li>
			Italics: *hello* -> <i>hello</i>
		</li>
		<li>
			Bold: **hello** -> <b>hello</b>
		</li>
		<li>
			Code: `hello` -> <code>hello</code>
		</li>
		<li>
			Strikethrough: ~~hello~~ -> <del>hello</del>
		</li>
		<li>
			Links: [{{"SITE_NAME" | app_config}}]({{request.host_url}}) -> <a href="{{request.host_url}}">{{"SITE_NAME" | app_config}}</a>
		</li>
		</ul>
		<h2>Block formatting</h2>

		<h3>Markdown tags format an entire paragraph of text at a time.</h3>
		<ul>
		<li>
			Blockquote: >hello
		</li>
		<li>
			Headers: # hello
			(headers go from # -> h1 to ##### -> h5)
		</li>
			Ordered List:
<pre>
	1. hello
	2. hello
</pre>
		<li>
			Unordered List:
<pre>
	- hello
	- hello
</pre>
		</li>
		
		<li>
			Code Block:
<pre>
	```
	hello
	hello
	```
</pre>
		</li>
		
		<li>
			Spoilers: &lt;s&gt;hello&lt;/s&gt; -> <div class="d-inline-block spoiler">hello</div>
		</li>
		</ul>
		
		<h2>Custom Formatting</h2>

		<p>We also have some custom hooks for mentioning users, subreddits and polls. Note that these only work if the mentioned user or subreddit actually exists.</p>
		<ul>
		<li>
			Username Mention: @Kronus -> <a class="d-inline-block" href="/@Kronus"><img src="/@Kronus/pic/profile" class="profile-pic-20 mr-1">@Kronus</a>
		</li>
		<li>
			Subreddit Mention: r/gaming -> <a class="d-inline-block" href="https://www.reddit.com/r/gaming/">r/gaming</a>
		</li>
		<li>
			Redditor Mention: u/spez -> <a class="d-inline-block" href="https://www.reddit.com/u/spez/">u/spez</a>
		</li>
		<li>
			Polls:
<pre>
	$$OPTION ONE$$
	$$OPTION TWO$$
</pre>
			They look like in <a href="https://vidya.cafe/post/532/vidyacafe-v-14-polls">this post</a>
		</li>
		<li>
			Emojis: :dollar: -> <img data-bs-toggle="tooltip" title="dollar" delay="0" src="/assets/images/emojis/dollar.gif" height="30">
	
	</div>
</div>

{% include "expanded_image_modal.html" %}

<script src="/assets/js/all_js.js"></script>

{% endblock %}
