{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}} Rules</title>
<meta name="description" content="Content Guidelines and Rules for Vidya Cafe">
{% endblock %}

{% block content %}
<div class="card-blank rounded">
    <h1 class="px-6 py-3">Vidya Cafe Rules</h1>
    <ul class="px-6 py-3"> 
        <li>
            <h5>Political content, unless explicitly related to video games, is prohibited.
            </h5>
            <p>For example, you may make posts and comment about a country deciding to ban loot boxes in video games, but you may not link to, make posts about, or comment about a video game developer or publisher’s political beliefs.</p>
        </li>
        <li>
            <h5>Excessive post or comment spamming is not allowed, doing so will result in potential strikes, and the spam in question being removed.
            </h5>
        </li>    
        <li>
            <h5>You may not post sexual or sexually suggestive material involving individuals under the age of 18, including fictitious content. Doing so will result in an immediate ban; pedophilia is not tolerated on this website.
            </h5>
        </li>
        <li>
            <h5>Self promotion is allowed; however, you must clearly indicate in the post or title of your post that it is such. Excessive self promotion will be treated the same as spamming, which can result in content removal and strikes.
            </h5>
            <ul>
                <li><p>To avoid self promotion spam, you must contribute more to the community than simply pasting links to your own content.</p>
                </li>
            </ul>
        </li>
        <li>
            <h5>Vidya Cafe is a place for civil discussion, and as such you may not: 
            </h5>
            <ul>
                <li>Promote hate based on race, religion, sexuality, identity, abilities, beliefs, etc.</li>
                <ul>
                	<li>via content on the site, such as posts, comments, usernames, and avatars
                </ul>
                <li>Advocate for violence against any person, or group of people</li>
                <li>Evade a user's block to interact with them by making an alternate account </li>
            </ul>
            <h5>Let's keep Vidya Cafe clean. Violating these rules will lead to removal of content and potential strikes.
            </h5>
        </li>
    </ul>
    <h1 class="px-6 py-3">Vidya Cafe Content Policy</h1>
    <ul class="px-6 py-3">
        <li>
            <h3>Intellectual Property</h3>
            <p>You may not upload to, embed within, or link out from vidya.cafe:</p>
            <p class="px-6">- Copyrighted material that you are not authorized to distribute<br>
            - Anything not legal to publish within, or export from, the United States of America
            </p>
        </li>
        <li>
            <h3>Digital Safety</h3>
            <p>You may not upload to, embed within, or link out from vidya.cafe:
                Digitally malicious content, including but not limited to:
                <ul class="px-6">
                    <li>Phishing attacks</li>
                    <li>XSS attacks</li>
                    <li>URL shorteners</li>
                    <li>Anything that breaks Vidya</li>
                </ul>
            </p>
        </li>
        <li>
            <h3>User Safety</h3>
            <p>You may not use vidya.cafe to do any of the following:</p>
            <ul class="px-6">
                <li>Threaten, intimidate, or harrass other users</li>
                <li>Impersonate vidya.cafe staff</li>
                <li>Solicit, collect, or publish private personal information, either yours or another individual's</li>
            </ul>
        </li>
        <li>
            <h3>Sexual Content</h3>
            <p>You may not upload to, embed within, or link out from vidya.cafe:</p>
            <ul class="px-6">
                <li>Sexual or sexually suggestive material not marked "NSFW"</li>
                <li>Sexual or sexually suggestive material involving individuals under the age of 18, including fictitious content</li>
                <li>Sexual or sexually suggestive material involving individuals who did not consent to its creation and distribution</li>
            </ul>
        </li>
        <li>
            <h3>Real Life Safety</h3>
            <p>You may not use vidya.cafe to incite, plan, or execute unlawful or violent activity. This includes fraud.</p>
        </li>
    </ul>
</div>

{% endblock %}
