{% extends "settings.html" %}

{% block pagetitle %}Custom Profile CSS - {{"SITE_NAME" | app_config}}{% endblock %}

{% block content %}

<div class="row">

	<div class="col col-md-8">

	  <div class="settings">

	    <div id="description">
		<div class="settings-section rounded mb-0">
		<p class="h5 card-header">Edit your profile CSS.</p>
			<div class="body d-lg-flex border-bottom">
				<div class="w-lg-100">
					<form id="profile-settings" action="/settings/profilecss" method="post">
						<input type="hidden" name="formkey" value="{{v.formkey}}">
						<textarea class="input rounded" id="bio-text" aria-label="With textarea" placeholder="Custom profile css" rows="50" name="profilecss" form="profile-settings" maxlength="50000">{% if v.profilecss %}{{v.profilecss}}{% endif %}</textarea>
						<small>Limit of 50000 characters</small>
						<div class="d-flex mt-2">
							<input class="button ml-auto" type="submit" value="Save">
						</div>
					</form>
				</div>

			</div>

	  </div>

	</div>

</div>
</div>
</div>

{% endblock %}