{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}} - Strikes</title>
<meta name="description" content="Community for technology enthusiasts and video game lovers. Come on in, sip some coffee, kick off your shoes and relax with us."/>
{% endblock %}

{% block content %}
<div class="card-blank rounded">
    <div class="m-3">
        <pre></pre>
        <h1 class="p-3">@{{v.username}}'s Strikes</h1>
        <pre></pre>
        <table class="table table-striped mb-5">
        <thead class="bg-primary text-white">
            <tr>
                <th style="font-weight: bold;">Strike #</th>
                <th style="font-weight: bold;">Strike Reason</th>
                <th style="font-weight: bold;">Expires On</th>
            </tr>
        </thead>    
        </table>


    </div>
</div>
{% endblock %}