// Colors

$primary: #47a3ff;
$secondary: #1871C9;
$dark: #2B353D;
$danger: #E53E3E;
$white: #E1E1E1;
$black: #CFCFCF;
$light: #000000;
$success: #38A169;
$muted: #E1E1E1;
$info: #168EEA;

$purple: #47a3ff;
$red: #E53E3E;
$gray: #2B353D;
$green: #38A169;
//HSB hue 210 saturation 30 brightness from 0 incremented by 4 each time
//"front" UI: $gray-200
//"background" UI: $gray-500
//search boxes, buttons, ect.: $gray-700 -> $gray-600 on hover
$gray-100: #394552;
$gray-200: #323C47;
$gray-300: #2B353D;
$gray-400: #242C33;
$gray-500: #1C2229;
$gray-600: #151A1F;
$gray-700: #0E1114;
$gray-800: #07090A;
$gray-900: #000000;

$upvote: #ff66ac;
$downvote: #38B2AC;
$admin: #ff66ac;
$banned: #960000;
$deleted: #969600;
$deletedandbanned: #964000;
$mod: #07c20c;
$code: #e83e8c;

$gold: #ECC94B;
$reddit: #ED4630;

//$border-color: #2E2F2F;
$border-color: #1C2229;
$border-width: 4px;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./main.scss";

* {
	border-color: $primary;
}

//.form-control {
	//background: transparent;
	//border-color: $primary !important;
//}

.btn {
	//background: transparent;
	border-color: $primary !important;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: $primary !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

//.post-top {
    //padding: 1em !important;
    //border-radius: $border-radius !important;
    //border: none !important;
//}

#frontpage .pseudo-submit-form.card .card-body .form-control, #guild .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
    color: #CFCFCF;
}
